* {
  padding: 0;
  border:  0;
  margin:  0;
  font-family: sans-serif;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#container {
  /* background: yellow; */
  height: 834px;
  width: 1000px;

  /* DEBUG */
  /* background-image: url("spec.png");
  background-size: contain;
  background-repeat: no-repeat; */
}
/* -------------------------------------------------------------------------- */
header {
  background: red;
  height: 82px;
  width: 1000px;

  /* DEBUG */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
main {
  /* background: blue; */

  /* DEBUG */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
img {
  height: 105px;
  margin-top: -5px;
}
/* -------------------------------------------------------------------------- */
#title {
  display: inline-block;
  vertical-align: top;

  margin-top: 22px;
  font-size: 47px;

  /* DEBUG */
  /* color: yellow; */
  /* opacity: 0.8; */
}

#net {
  color: blue;
}
/* -------------------------------------------------------------------------- */
#header-2 {
  background: orange;
  height: 62px;

  font-size: 16px;

  padding-top: 10px;
  padding-left: 19px;


  /* DEBUG */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
main {
  height: 700px;
  /* background: green; */

  /* DEBUG */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
#col-1 {
  /* background: red; */
  height: 700px;
  width: 234px;

  display: inline-block;;
  vertical-align: top;

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#col-2 {
  /* background: yellow; */
  height: 700px;
  width: 760px;

  display: inline-block;
  vertical-align: top;

  /* DEBUG */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
#whats-internet {
  margin-left: 5px;
  margin-top: 14px;

  font-size: 17px;

}
/* -------------------------------------------------------------------------- */
main p {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 5px;

  font-size: 15px;

}

#blue-text {
  color: blue;
}
/* -------------------------------------------------------------------------- */
#col-1_link-top, #col-1_link-bottom {
  width: 198px;
  height: 38px;
  display: block;
  margin-left: 9px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding-top: 1px;
  text-align: center;
  font-size: 16px;
}
#col-1_link-top    { background: red;   margin-top: 16px;}
#col-1_link-bottom { background: blue;  margin-top: 2px;}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
