* {
  padding: 0;
  border:  0;
  margin:  0;
  font-family: sans-serif;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#container {
  /* background: yellow; */
  height: 834px;
  width: 1000px;

  /* DEBUG */
  background-image: url("spec.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* -------------------------------------------------------------------------- */
header {
  background: red;
  height: 82px;
  width: 1000px;

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
main {
  /* background: blue; */

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
img {
  height: 105px;
  margin-top: -5px;
}
/* -------------------------------------------------------------------------- */
#title {
  display: inline-block;
  vertical-align: top;

  margin-top: 22px;
  font-size: 47px;

  /* DEBUG */
  /* color: yellow; */
  opacity: 0.8;
}

#net {
  color: blue;
}
/* -------------------------------------------------------------------------- */
#header-2 {
  background: orange;
  height: 52px;

  font-size: 16px;

  padding-top: 10px;
  padding-left: 19px;


  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
main {
  height: 700px;
  /* background: green; */

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#col-1 {
  /* background: red; */
  height: 700px;
  width: 234px;

  display: inline-block;;
  vertical-align: top;

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#col-2 {
  background: yellow;
  height: 700px;
  width: 760px;

  display: inline-block;
  vertical-align: top;

  /* DEBUG */
  opacity: 0.5;
}

#img-home {
  height: 20px;
  margin-left: 22px;
  margin-top: 11px;
}

#link-DNS {
  text-decoration: none;
}

#img-phone {
  display: inline-block;
  height: 43px;
  margin-top: 10px;
  margin-left: 455px;
}

#hours {
  margin-top: 0px;
  margin-left: 0px;

  display: inline-block;
  vertical-align: top;
}
/* -------------------------------------------------------------------------- */
#whats-internet {
  margin-left: 5px;
  margin-top: 14px;

  font-size: 17px;

}
/* -------------------------------------------------------------------------- */
main p {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 5px;

  font-size: 15px;

}

#blue-text {
  color: blue;
}
/* -------------------------------------------------------------------------- */
#col-1_link-top, #col-1_link-bottom {
  width: 198px;
  height: 38px;
  display: block;
  margin-left: 9px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding-top: 1px;
  text-align: center;
  font-size: 16px;
}
#col-1_link-top    { background: red;   margin-top: 16px;}
#col-1_link-bottom { background: blue;  margin-top: 2px;}
/* -------------------------------------------------------------------------- */
#sepeartor-small {
  height: 2px;
  width: 210px;
  background: silver;

  margin-left: 4px;
  margin-top: 24px;
}
/* -------------------------------------------------------------------------- */
#re-invent-img {
  margin-top: 27px;
  margin-left: 3px;

  height: 314px;
}
/* -------------------------------------------------------------------------- */
#re-invent-text {
  margin-top: -297px;
  margin-left: 2px;
  margin-right: 18px;
  color: white;
  font-size: 25px;
  text-align: center;
}
/* -------------------------------------------------------------------------- */
#re-invent-ninja{
  margin-left: 61px;
  margin-top: 2px;
  height: 125px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#learn-more-link {
  background: green;
  height: 27px;
  width: 172px;
  display: block;
  border-radius: 7px;
  margin-top: 9px;
  margin-left: 19px;
  box-shadow: 8px 4px 5px 0px black;
  border: 1px black solid;
  text-decoration: inherit;
  color: white;
  padding-top: 6px;
  padding-left: 6px;
  font-family: sans-serif;
  font-size: 18px;
  z-index: 1;
  position: relative;
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
